html {
  color: #fff;
}

header {
  background-color: #656565;
}

li a {
  text-decoration: none;
  text-align: center;
  color: #fff;
}

.btn-ghost {
  border-color: #fff;
  border-width: 2px;
  color: #fff;
}

.banner {
  color: #fff;
  background: linear-gradient(to bottom, rgba(101,101,101,1) 18%, rgba(101,101,101,0.9235127478753541) 60%, rgba(101,101,101,0.05) 100%), bottom center;
  background-size: cover;
  top: 0;
  right: 0;
  width: 100%;
  border-top: 2px solid #fff;
}

.relative{
  display: block;
  overflow: hidden;
}

.menu {
 background-color: #9CA892;
}

.location {
 background-color: #6C6F5C;
}

.drinks {
  background-color: #D2C9B8;
}

.map {
  background-color: #F8FAED;
}

.nav {
  display: none;
}

header [type="checkbox"] + label::before {
  top: -10em;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav {
  display: inline-block;
  border-top: 2px solid #fff;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: inline-block;
}



main {
  max-width: 50rem;
}

.cards {
  border: 2px solid #6C6F5C;
  background-color: #F8FAED;
}
