html {
  color: #fff;
}

h1, h2, h3, h4, .btn, label, .nav a, a {
  font-family: Asap, sans-serif;
}

p, li, address, br, dl, caption, tr, h5, article, .span {
  font-family: Montserrat, sans-serif;
}

header, footer {
  background-color: #656565;
}

li a, li, div a {
  text-decoration: none;
  text-align: center;
  color: #000;
}

nav a {
  color: #fff;
  background-color: #656565;
}

nav a:hover {
  color: #000;
  background-color: #fff;
  box-shadow: 1px 1px 10px #000;
}

.btn {
  background-color: #d2c9b8;
  border: solid 2px #d2c9b8;
  color: #000;
}

.btn:hover {
  background-color: #fff;
  border: solid 2px #fff;
  color: #fff;
  box-shadow: 1px 1px 10px #fff;
}

button {
  color: #000;
}

.banner {
  color: #fff;
  background: linear-gradient(to bottom, rgba(101, 101, 101, 1) 25%, rgba(101, 101, 101, .9235) 50%, rgba(101, 101, 101, .05) 100%), bottom center;
  background-size: cover;
  top: 0;
  right: 0;
  width: 100%;
  border-top: 2px solid #fff;
}

.banner-content {
  padding-left: 40%;
  padding-right: 40%;
}

.relative {
  display: block;
  overflow: hidden;
}

.menu {
  background-color: #9ca892;
}

.location {
  background-color: #6c6f5c;
}

.drinks {
  background-color: #fff;
  color: #6c6f5c;
}

.drinks li, .cards {
  color: #6c6f5c;
}

.map {
  background-color: #f8faed;
  color: #6c6f5c;
}

.holiday {
  color: #6c6f5c;
}

.cards {
  background-color: #fff;
}

div .card {
  border: 2px solid #6c6f5c;
  background-color: #fff;
}

div .card:hover {
  background-color: #e1e8bd;
  animation: move .2s forwards;
  box-shadow: 1px 1px 10px #000;
}

.current {
  color: #e1e8bd;
}

.unit-content-distribute {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.intro {
  animation: intro 1s linear;
}

table {
  display: none;
}

.table {
  background-color: #fff;
}

.table:hover {
  background-color: #e1e8bd;
  animation: move .2s forwards;
}

a:focus {
  outline: 3px solid #000;
}

.events {
  background-color: #6c6f5c;
}

.holiday-menu {
  background-color: #d2c9b8;
}

.adopt li {
  text-align: left;
}

.image-cake, .image-coffee {
  display: none;
}

.border {
  border-bottom: 2px solid #6c6f5c;
}

.fade-6 {
  animation: fade 6s 1s linear infinite;
}

.fade-5 {
  animation: fade 6s 2s linear infinite;
}

.fade-4 {
  animation: fade 6s 3s linear infinite;
}

.fade-3 {
  animation: fade 6s 4s linear infinite;
}

.fade-2 {
  animation: fade 6s 5s linear infinite;
}

.fade-1 {
  animation: fade 6s 6s linear infinite;
}

@media only screen and (min-width: 25em) {

  .banner-content {
    padding-left: 40%;
    padding-right: 40%;
  }

  .banner {
    padding-top: 10%;
  }

}

@media only screen and (min-width: 30em) {

  .banner-content {
    padding-left: 40%;
    padding-right: 40%;
  }

  .banner {
    padding-top: 15%;
  }

}

@media only screen and (min-width: 38em) {

  .banner-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .banner {
    padding-top: 15%;
  }

  .holiday {
    padding-top: 25%;
  }

  table {
    display: block;
  }

  .table-hide {
    display: none;
  }

  .image-coffee, .image-cake-2 {
    display: inline-block;
  }

}

@media only screen and (min-width: 45em) {

  .banner-content {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .relative {
    max-height: 370px;
  }

}

@media only screen and (min-width: 55em) {

  main {
    padding-right: 10%;
    padding-left: 10%;
  }

  .cats {
    background-image: url("../images/cat-bg.svg");
    background-size: 100px auto;
    background-repeat: repeat;
    background-position: left top, left bottom, left top;
  }

}

@media only screen and (min-width: 60em) {

  main {
    padding-right: 15%;
    padding-left: 15%;
  }

  .banner-content {
    padding-left: 4rem;
    padding-right: 4rem;
  }

}

@media only screen and (min-width: 75em) {

  .banner-content {
    padding-left: 6rem;
    padding-right: 6rem;
  }

}

@media only screen and (min-width: 90em) {

  .banner-content {
    padding-left: 8rem;
    padding-right: 8rem;
  }

}

@keyframes intro {

  0% {
    filter: opacity(0);
  }

  5% {
    filter: opacity(0);
    transform: translateX(0);
    transform: translateY(500px);
  }

  100% {
    filter: opacity(1);
    transform: translateY(0);
  }

}

@keyframes move {

  0% {
    transform: translateX(0);
    transform: translateY(0);
  }

  100% {
    transform: translateX(0);
    transform: translateY(-3px);
    filter: drop-shadow(0 1px 5px rgba(0, 0, 0, .5));
  }

}

@keyframes fade {

  0% {
    filter: opacity(0);
  }

  50% {
    filter: opacity(1);
  }

  100% {
    filter: opacity(0);
  }

}
